.type {
    display: flex;
    justify-content: space-between;

    padding: 8px 20px;

    cursor: pointer;

    border: 1px solid #256DC5;
    border-radius: 8px;

    background-color: #fff;
    
    font-size: .9375rem;
    color: #256DC5;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: .25s;

    &:hover {
        border-color: #BFBFBF;
        color: #BFBFBF;
    }
    
    &:focus, &:active {
        outline: none;
    }
}