.container {
    display: flex;
    
    height: 40px;

    border-radius: 35px;

    font-weight: 700;
    background-color: #efefef;

    input {
        border: none;
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;

        padding: 0 35px;

        background-color: transparent;

        font-size: 0.9rem;
    }

    button {
        border: none;
        border-radius: 35px;

        padding: 10px 35px;

        background-color: #3bb09f;
        color: #fff;

        cursor: pointer;

        text-transform: uppercase;

        font-size: 1.05rem;
        line-height: 50%;
    }

    input, button {
        &:focus, &:active {
            outline: none;
        }
    }
}