.container {
    display: flex;
    
    height: 40px;

    border-radius: 20px;

    background-color: #F6F6F6;

    input {
        border: none;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;

        padding: 0 20px;

        background-color: transparent;

        color: #888;
        font-size: 0.9375rem;
    }

    button {
        border: none;
        border-radius: 20px;

        cursor: pointer;

        color: #676767;

        background-color: transparent;

        padding: 0 20px;

        &:focus, &:active {
            outline: none;
        }
    }

    input, button {
        &:focus, &:active {
            outline: none;
        }
    }
}