.filter {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1.75rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(179,179,179,.45);
    list-style: none;
}

.clear {
    border: none;
    background-color: #fff;
    
    cursor: pointer;
    
    color: #256DC5;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: 900;

    &:focus, &.active {
        outline: none;
    }

    &:hover {
        color: #818181;
    }
}
