@font-face {
    font-family: 'Didot';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Didot.woff2') format('woff2'), url('assets/fonts/Didot.woff') format('woff');
}

body {
    font-family: 'Lato', sans-serif;
}

.footer {
    padding: 1.3rem 0;
}

.container {
    width: auto;
    max-width: 1440px;
}

@media (min-width: 1280px) {
    .container {
        padding: 0 80px;
    }
}