.sort {
    display: flex;
    justify-content: space-between;

    height: 40px;
    width: 160px;

    padding: 0 20px;

    cursor: pointer;

    border: none;
    border-radius: 20px;

    background-color: #F6F6F6;
    color: #888;
    font-size: 0.9375rem;
    
    &:focus, &:active {
        outline: none;
    }
}