.sort {
    display: flex;
    justify-content: space-between;

    height: 35px;
    width: 160px;

    padding: 0 20px;

    cursor: pointer;

    border: none;
    border-radius: 20px;

    background-color: #efefef;
    
    &:focus, &:active {
        outline: none;
    }
}